{% style %}
  .section-product-content-metafield-{{ section.id }}{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-product-content-metafield-{{ section.id }} .hide-pc{
    display:none;
  }
   .section-product-content-metafield-{{ section.id }} .t4s-container.inner{
    max-width:1200px;
  }
   .section-product-content-metafield-{{ section.id }} .content-wrapper{
     padding-bottom: 40px;
     display: grid;
     gap: 17px;
  }
  .section-product-content-metafield-{{ section.id }} .title-wrapper .t4s-tab__icon {
    width: 22px;
    color: rgba(26, 59, 26, 1);
    position: relative;
    display: block;
}
.t4s-tab__icon:after, 
.t4s-tab__icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform .35s ease-in-out,opacity .35s ease-in-out,-webkit-transform .35s ease-in-out;
    width: 14px;
    height: 2px;
    opacity: 1;
}
.t4s-tab__icon:after {
    height: 14px;
    width: 2px;
}
 .section-product-content-metafield-{{ section.id }} .title-wrapper.active .t4s-tab__icon:before,
 .section-product-content-metafield-{{ section.id }} .title-wrapper.active .t4s-tab__icon:after {
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg);
}
 .section-product-content-metafield-{{ section.id }} .title-wrapper.active .t4s-tab__icon:before {
    opacity: 0;
}
  .section-product-content-metafield-{{ section.id }} .title-wrapper{
         display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(238, 238, 238, 1);
    padding-top: 12px;
    margin-bottom: 14px;
    cursor: pointer;
  }
  .section-product-content-metafield-{{ section.id }} .title-wrapper .title{
        color: rgba(26, 59, 26, 1);
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner{
        display: flex;
    gap: 36px;
    align-items: flex-start;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .left{
           color: rgba(26, 59, 26, 1);
    font-weight: 600;
    font-size: 16px;
    min-width: 135px;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right{
     color: rgba(26, 59, 26, 1);
    font-size: 16px;
    width:100%;
  }
   .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right a{
         color: rgba(1, 126, 86, 1);
    font-weight: 500;
    text-decoration: underline;
   }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right .size_url{
    margin:0;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right .img-wrapper .inner{
    display: flex;
    gap: 14px;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right .img-wrapper img{
    max-width: calc(50% - 7px);
    width:calc(50% - 7px);
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .de-text{
        color: rgba(26, 59, 26, 1);
    font-size: 16px;
    margin-bottom: 20px;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .description-1 .right{
            color: rgba(26, 59, 26, 1);
    font-size: 16px;
    display: flex;
    gap: 26px;
    align-items: center;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .description-1 .right img{
    max-width:100px;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .description-2 .right{
           background: rgba(238, 238, 238, 1);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 36px;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .description-2 .right img{
    max-width:300px;
  }
 .section-product-content-metafield-{{ section.id }} .content-wrapper .next{
   display:none;
 }
@media (max-width: 1100px) and (min-width:769px) {
    .section-product-content-metafield-{{ section.id }} {
        padding-top: {{ section.settings.padding_top_ipad }}px;
        padding-bottom: {{ section.settings.padding_bottom_ipad }}px;
    }
}

@media (max-width: 768px) {
    .section-product-content-metafield-{{ section.id }} {
        padding-top: {{ section.settings.padding_top_md }}px;
        padding-bottom: {{ section.settings.padding_bottom_md }}px;
    }
   .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner{
       gap: 8px;
       flex-direction: column;
   }
   .section-product-content-metafield-{{ section.id }} .content-wrapper .description-2 .right{
    display: flex;
    flex-direction: column;
    width: calc(100% + 32px);
    margin-left: -15px;
    max-width: 100vw;
     padding-bottom: 32px;
   }
    .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right .img-wrapper{
          overflow-x: scroll;
        max-width: calc(100vw - 16px);
  }
   .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right{
      position:relative;
   }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .description-2 .right img{
    aspect-ratio: 1;
    object-fit: cover;
  }
  .section-product-content-metafield-{{ section.id }} .mb-no-gap{
    gap:0 !important;
  }
    .section-product-content-metafield-{{ section.id }} .hide-pc{
    display:block;
  }
   .section-product-content-metafield-{{ section.id }} .hide-mb{
    display:none;
  }
}
  @media (max-width:500px){
    .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner.shipping .right .img-wrapper img{
        max-width: 100%;
    }
    .section-product-content-metafield-{{ section.id }} .content-wrapper .next{
               position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 24px;
        height: 24px;
        background: #1a3b1a;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
        z-index: 2;
  }
   .section-product-content-metafield-{{ section.id }} .content-wrapper .next svg{
         width: 70%;
    height: auto;
   }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .next svg path{
    fill:#fff;
  }
  .section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner .right .img-wrapper img{
        max-width: 150%;
        width:150%;
  }
}

{% endstyle %}

<div class="section-product-content-metafield section-product-content-metafield-{{ section.id }}">
  <div class="t4s-container inner">
    {% for block in section.blocks %}
      {% if block.type == 'product-spec' and product.metafields.custom.product_spec != blank %}
        {% assign show = true %}
      {% elsif block.type == 'description' and product.metafields.custom.description != blank %}
         {% assign show = true %}
        {% elsif block.type == 'shipping' %}
         {% assign show = true %}
      {% endif %}

     {% if show == true %}
      <div class="item">
        <div class="title-wrapper active">
          <div class="title">{{ block.settings.title }}</div>
          <span class="t4s-tab__icon"></span>
        </div>
        <div class="content-wrapper">

          
          {% if block.type == 'product-spec' %}
              {% assign data_spec = product.metafields.custom.product_spec.value  %}
             {% for i in data_spec %}
               <div class="item-inner item-inner-{{ forloop.index }} spec {% if i contains "https://cdn.shopify.com" %}mb-no-gap{% endif %}">
                {% if i contains "https://cdn.shopify.com" %}
                   <div class="left"></div>
                   <div class="right">
                      {% if i contains '[mb]' %}
                         <div class="next"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.06944 14.8336L7.09717 13.8613L11.9585 8.99998L7.09717 4.13862L8.06944 3.16635L13.4169 8.5138C13.4169 8.5138 13.4169 8.51385 12.9308 8.99998L13.4169 8.5138L13.9031 8.99998L8.06944 14.8336Z" fill="#8B8B8B"></path></svg></div>
                       {% endif %}
                     {% assign img_all = i | split:"|" %}
                     <div class="img-wrapper">
                       <div class="inner">
                       {% for img in img_all %}
                         {% if img contains "[mb]" %}
                           <img class="hide-pc t4s-lz--fadeIn lazyautosizes ls-is-cached lazyloadt4s" data-src="{{ img | split:"[mb]" | first }}" alt="product content image">
                           {% else %}
                           <img class="hide-mb t4s-lz--fadeIn lazyautosizes ls-is-cached lazyloadt4s" data-src="{{ img }}" alt="product content image">                           
                         {% endif %}
                       {% endfor %}
                       </div>
                     </div>
                   </div>
                {% else %}
                   {% assign text = i | split:"]" %} 
                   <div class="left">{{ text[0] | split:"[" | last }}</div>
                   <div class="right">
                    {{ text[1] }}
                   </div>
                {% endif %}
               </div>
             {% endfor %}
    
            
          {% elsif block.type == 'description' %}
            {% assign data_spec = product.metafields.custom.description.value  %}
            <div class="de-text">{{ data_spec[0] }}</div>
            <div class="item-inner description-1">
              {% assign de_text_2 = data_spec[1] | split:"]" %}
              <div class="left">{{ de_text_2[0] | split:"[" | last }}</div>
              <div class="right">
                {% if de_text_2[1] contains "|" %}
                <img class="t4s-lz--fadeIn lazyautosizes ls-is-cached lazyloadt4s" data-src="{{ de_text_2[1] | split:"|" | first }}" alt="Description image">
                <span>{{ de_text_2[1] | split:"|" | last }}</span>
                {% else %}
                  <span>{{ de_text_2[1] }}</span>
                {% endif %}
              </div>
            </div>
            {% if data_spec[2] != blank %}
             <div class="item-inner description-2">
              {% assign de_text_3 = data_spec[2] | split:"]" %}
              <div class="left">{{ de_text_3[0] | split:"[" | last }}</div>
              <div class="right">
               {% if de_text_3[1] contains "|" %}
                <img class="t4s-lz--fadeIn lazyautosizes ls-is-cached lazyloadt4s" data-src="{{ de_text_3[1] | split:"|" | first }}" alt="Description image">
                <span>{{ de_text_3[1] | split:"|" | last }}</span>
              {% else %}
                 <span>{{ de_text_3[1] }}</span>
              {% endif %}
              </div>
            </div>
          {% endif %}
            
          {% elsif block.type == 'shipping' %}

               <div class="item-inner shipping">
                   <div class="left">{{ block.settings.text-1 | split:"]" | first | split:"[" | last }}</div>
                   <div class="right">{{ block.settings.text-1 | split:"]" | last }}</div> 
               </div>

                <div class="item-inner shipping">
                   <div class="left">{{ block.settings.text-2 | split:"]" | first | split:"[" | last }}</div>
                   <div class="right">{{ block.settings.text-2 | split:"]" | last }}</div> 
               </div>

              <div class="item-inner shipping">
                   <div class="left">{{ block.settings.text-3 | split:"]" | first | split:"[" | last }}</div>
                   <div class="right">{{ block.settings.text-3 | split:"]" | last }}</div> 
               </div>
            
                <div class="item-inner shipping mb-no-gap">
                   <div class="left">{{ block.settings.text-4 }}</div>
                   <div class="right">
                     <div class="img-wrapper">
                       <div class="inner">        
                           <img class="t4s-lz--fadeIn lazyautosizes ls-is-cached lazyloadt4s" data-srcset="{{ block.settings.image | img_url:'master' }}" srcset="{{ block.settings.image | img_url:'master' }}" alt="product content image">            
                       </div>
                     </div>
                   </div> 
               </div>
        
            {% endif %}
  
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {  

      $('.section-product-content-metafield-{{ section.id }} a').attr('target', '_blank');

      
        $(".section-product-content-metafield-{{ section.id }} .title-wrapper").click(function() {
          $(this).toggleClass('active');
          $(this).siblings(".content-wrapper").slideToggle();
     });
  
    $('.section-product-content-metafield-{{ section.id }} .content-wrapper .item-inner.spec').each(function() {
        if ($(this).height() === 0) {
            $(this).remove();
        }
     });

   $('.section-product-content-metafield-{{ section.id }} .content-wrapper .next').on('click', function() {
        // 选择父元素 .img-wrapper
        var $imgWrapper = $(this).closest('.right').find('.img-wrapper');

        // 动画滚动到最左边
        $imgWrapper.animate({ scrollLeft: $imgWrapper[0].scrollWidth }, 300);
    });

$(".section-product-content-metafield-{{ section.id }} a").click(function() {
    if ($(this).text().includes("return") && $(this).attr("href").includes("shipping-return")) {
        sessionStorage.setItem("return", true);
    }
});
      

})
</script>

{% schema %}
{
  "name": "Product content metafield",
  "settings": [
    {
      "type": "header",
      "content": "边距设置"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "电脑端上边距",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "电脑端下边距",
      "default": 0
    },
      {
      "type": "range",
      "id": "padding_top_ipad",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "iPad 上边距",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_ipad",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "iPad 下边距",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_md",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "移动端上边距",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_md",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "移动端下边距",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "product-spec",
      "name": "Product Spec",
      "settings": [
          {
             "type": "html",
             "id": "title",
             "label": "title"
           }
      ]
    },
        {
      "type": "description",
      "name": "Description",
      "settings": [
          {
             "type": "html",
             "id": "title",
             "label": "title"
           }
      ]
    },
        {
      "type": "shipping",
      "name": "Shipping & Return",
      "settings": [
          {
             "type": "html",
             "id": "title",
             "label": "title"
           },
         {
             "type": "html",
             "id": "text-1",
             "label": "text 1"
           },
        {
             "type": "html",
             "id": "text-2",
             "label": "text 2"
           },
        {
             "type": "html",
             "id": "text-3",
             "label": "text 3"
           },
        {
             "type": "html",
             "id": "text-4",
             "label": "图片前的标题"
           },
        {
              "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
      ]
    }
      ],
  "presets": [
    {
      "name": "Product content metafield"
    }
  ]
}
{% endschema %}